@model VotingApp.Models.RequestModels.UpdateUserRequestModel

@{
    ViewData["Title"] = "Update Password";
}

<h2 class="text-primary pt-3">@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdatePassword" method="post">
            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
            <input type="hidden" name="id" value="@ViewBag.UserId" />
            <div class="form-group mb-3">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Enter your password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CPassword" class="control-label"></label>
                <input asp-for="CPassword" type="password" class="form-control" placeholder="Confirm your password" />
                <span asp-validation-for="CPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
            <a asp-controller="Election" asp-action="GetAll" class="btn btn-secondary" style="width:150px">
                Back to Elections
            </a>
        </form>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}