@{
    ViewData["Title"] = "Home Page";
}
<div class="wrap">
    <div class="container-1">
        <div class="cont-1">
        </div>
        <div class="cont-2">
            WELCOME TO VOTING APPLICATION
        </div>
    </div>
    <div class="container-2 bg-primary">
        <div class="contain-2"><i class="fa-solid fa-pen-to-square"></i> &nbsp; &nbsp;CONTEST</div>
        <div class="contain-2"><i class="fa-solid fa-circle-check"></i> &nbsp; &nbsp;VOTE</div>
        <div class="contain-2"><i class="fa-solid fa-list-check"></i> &nbsp; &nbsp;RESULT</div>
    </div>
</div>
